
/*navigation bar*/
.customNav {
    position: fixed;
    width: 100%;
    background-image: url(../Images/nav\ background.jpg);
    background-color: transparent !important;
    background-size: cover;
    z-index: 5;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    padding: 5px;
}

.navbar-brand img {
    padding-right: 15px;
    width: 75px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.5vw;
    padding: 0 20px 0 20px !important;
}