
/*navigation bar*/
.customNav {
    position: fixed;
    width: 100%;
    background-image: url(../Images/nav\ background.jpg);
    background-color: transparent !important;
    background-size: cover;
    z-index: 5;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0;
    padding: 5px;
}

.navbar-brand img {
    padding-right: 15px;
    width: 60px;
}